/* Home_wrap */
.Home_wrap {
    width: 100%;
    height: 100%;
}

{/* Home_container*/}
.Home_container {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Home_contents */
.Home_contents {
    width: 85%;
    height: 100%;
}

{/* Home1 */}
.Home1 {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 30px;
}

{/* Home_box1 */}
.Home_box1 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    margin: 30px;
}

{/* Home_box2 */}
.Home_box2 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 30px;
}
.Home_box2 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.Home_box2 h3 {
    font-size: 25px;
}
.Home_box2 ul {
    text-align: center;
    padding: 20px;
}
.Home_box2 ul li {
    padding: 5px;
}
.Home_box2 ul li:first-of-type {
    color: #ccc;
}

{/* Home_box3 */}
.Home_box3 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 30px;

}
.Home_box3 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.Home_box3 ul {
    text-align: center;
    padding: 25px 0 0 0;
}
.Home_box3 ul li {
    padding: 5px;
}
.Home_box3 button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f89f9f;
    color: #fff;
}
{/* ---------------------- Home1 --------------------- */}



{/* Home2 */}
.Home2 {
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: 30px;
}

{/* Home_box4 */}
.Home_box4 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 30px;
}
.Home_box4 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}

{/* Home_box5 */}
.Home_box5 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 30px;
}
.Home_box5 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.circle1 {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 20px solid #f89f9f;
    border-radius: 100px;
    text-align: center;
    line-height: 110px;
}

{/* Home_box6 */}
.Home_box6 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 30px;
}
.Home_box6 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.circle2 {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 20px solid #f89f9f;
    border-radius: 100px;
    text-align: center;
    line-height: 110px;
}

{/* ---------------------- Home2 --------------------- */}

.circle_box {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
}

.Home_btn {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
    text-align: center;
}
