/* Home_wrap */
.Home_wrap {
    width: 100%;
    height: 100vh;

}

/* Home_container*/
.Home_container {
    width: 100%;
    height: 90%;
    display: flex;
}

/* Home_wrapper */
.Home_wrapper {
    width: 85%;
    height: 100%;
}

/* Home_Box */
.Home_Box {
    width: 100%;
    height: 50%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Home_contents */
.Home_contents {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0 0 0;
}

/* Home_infoBox */
.Home_infoBox {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.Home_infoBox:first-of-type {
    width: 35%;
}

/* .Home_infoBox(2) */
.Home_infoBox:nth-of-type(2) h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.Home_infoBox:nth-of-type(2) h3 {
    font-size: 25px;
}
.Home_infoBox:nth-of-type(2) ul {
    text-align: center;
    padding: 20px;
}
.Home_infoBox:nth-of-type(2) ul li {
    padding: 5px;
}
.Home_infoBox:nth-of-type(2) ul li:first-of-type {
    color: #ccc;
}

/* .Home_infoBox(3) */
.Home_infoBox:nth-of-type(3) h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}
.Home_infoBox:nth-of-type(3) ul {
    text-align: center;
    padding: 25px 0 0 0;
}
.Home_infoBox:nth-of-type(3) ul li {
    padding: 5px;
}
.Home_infoBox:nth-of-type(3) button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f89f9f;
    color: #fff;
}
/* ------------------------------- Home_contents ----------------------------- */



{/* Home_contents2 */}
.Home_contents2 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0 0 0;
}

{/* Home_infoBox2 */}
.Home_infoBox2 {
    width: 30%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.Home_infoBox2:first-of-type {
    width: 35%;
}
.Home_infoBox2 h2 {
    padding: 25px 0 0 35px;
    font-size: 20px;
}

.circle1 {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 20px solid #f89f9f;
    border-radius: 100px;
    text-align: center;
    line-height: 110px;
}

.circle2 {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 20px solid #f89f9f;
    border-radius: 100px;
    text-align: center;
    line-height: 110px;
}
/* -------------------------------- Home_contents2 ------------------------------ */

.circle_box {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
}

.Home_btn {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
    text-align: center;
}

/*--------------------------------------circle, button----------------------------------*/