/* Home_wrap */
.Home_wrap {
    width: 100%;
    height: 100%;
}

/* Home_container*/
.Home_container {
    width: 100%;
    height: 120%;
    display: flex;
}

/* Home_wrapper */
.Home_wrapper {
    width: 100%;
    height: 100%;
    padding: 110px 0 0 270px;
}

/* Home_Box */
.Home_Box {
    width: 100%;
    height: 60%;
    max-width: 1400px;
    margin: 50px auto;
    justify-content: center;
    display: flex;
}

/* Home_profileBox 프로필 */
.Home_profileBox {
    width: 30%;
    height: 100%;
    display: block;
}

.Home_profile {
    width: 100%;
    height: 575px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}
.Home_profile span {
    color: #aaaaaa;
}

/* Home_profileImg */
.Home_profileImg img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

/* Home_main */
.Home_main {
    width: 70%;
    height: 100%;
    display: block;
}

/* Home_contents */
.Home_contents {
    width: 100%;
    height: 50%;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

/* Home_infoBox */
.Home_infoBox {
    width: 45%;
    height: 250px;
    border: 1px solid #aaa;
    border-radius: 15px;
}
.Home_infoBox h2 {
    padding: 25px 0 20px 35px;
    font-size: 20px;
}

/* .Home_infoBox(1) 우리의 자산 */
.Home_infoBox:first-of-type h3 {
    font-size: 30px;
}

.Home_infoBox:first-of-type ul {
    text-align: center;
    padding: 30px;
}

.Home_infoBox:first-of-type ul li {
    padding: 5px;
}

.Home_infoBox:first-of-type ul li:first-of-type {
    color: #ccc;
}
/* ------------------------ Home_Box ------------------------- */


/* Home_contents2 */
.Home_contents2 {
    width: 100%;
    height: 50%;
    padding-left: 23px;
}

/* Home_infoBox2 */
.Home_infoBox2 {
    width: 97.5%;
    height: 250px;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.Home_infoBox2 h2 {
    padding: 25px 0 10px 35px;
    font-size: 20px;
}

/* -------------------------------- Home_contents2 ------------------------------ */

.circle_box {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
}
.circle1 {
    width: 150px;
    height: 150px;
    background: #fff;
    border: 20px solid #f89f9f;
    border-radius: 100px;
    text-align: center;
    line-height: 110px;
}

.Home_btn {
    width: 100%;
    justify-items: center;
    padding-top: 10px;
    text-align: center;
}

/*--------------------------------------circle, button----------------------------------*/