/* SchedulePage */
.SchedulePage {
    width: 100%;
    height: 100%;
}

/* Schedule_container */
.Schedule_container {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Schedule_contents */
.Schedule_contents {
    width: 85%;
    height: 100%;
}

/* Schedule_title */
.Schedule_title {
    width: 95%;
    height: 20%;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #aaa;
}

/* Schedule_titleBox */
.Schedule_titleBox {
    width: 100%;
    height: 100%;
}
.Schedule_titleBox h1 {
    padding: 55px 0 10px 70px;
    font-size: 40px;
    border: none;
}
.Schedule_titleBox p {
    padding: 0 0 0 70px;
    color: #aaa;
    font-size: 18px;
}

/* Schedule_menu */
.Schedule_menu {
    display: flex;
    width: 100%;
    height: 15%;
}
.Schedule_menu li {
    padding: 30px 30px 0 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
    margin-left: 150px;
}
.Schedule_menu li:first-child {
    border-bottom: 5px solid #E87D7D;
}

/* contents_box */
.contents_box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
}
.box {
    width: 30%;
    height: 90%;
    padding: 25px 0 0 35px;
    background: rgba(232, 125, 125, 0.35);
    border-radius: 10px;
}
.box:nth-of-type(2), .box:nth-of-type(3) {
    background: none;
    border: 1px solid #E87D7D;
    border-radius: 10px;
}

.box input {
    width: 150px;
    height: 30px;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #E87D7D;
}

.box .schedule_btn1 {
    width: 350px;
    display: flex;
    justify-content: left;
}
.box .schedule_btn1 .schedule_btn01 {
    width: 100px;
    height: 30px;
    margin: 15px 15px 15px 0;
    font-size: 16px;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.box input:nth-of-type(2), .box input:nth-of-type(3) {
    width: 180px;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.box p {
    color: #777;
}

.box .schedule_btn1 .schedule_btn03, .box .schedule_btn1 .schedule_btn04 {
    width: 140px;
    height: 50px;
    margin: 25px 15px 15px 0;
    font-size: 16px;
    color: #fff;
    background-color: #E87D7D;
    border: none;
    border-radius: 10px;
}

