/* WritePage */
.WritePage {
    width: 100%;
    height: 100%;
}
/* Write_container */
.Write_container {
    width: 100%;
    height: 100%;
    padding: 110px 0 0 270px;
}

/* Write_title */
.Write_title {
    width: 95%;
    margin: auto;
}
.Write_title div {
    display: flex;
    border-bottom: 1px solid #aaa;
}
.Write_title div > h1 {
    padding: 75px 0 45px 70px;
    font-size: 40px;
}
.Write_title div .Write_setting {
    width: 120px;
    height: 30px;
    margin: 85px 0 0 20px;
    border: none;
}

/* Write_contents */
.Write_contents {
    width: 100%;
    height: 100%;
}
.Write_contents ul {
    margin: 45px 0 0 115px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

.Write_contents ul > li {
    width: 100px;
}
.Write_contents ul > li:nth-of-type(1) {
    margin-right: 40px;
}
.Write_contents ul > li:nth-of-type(2) {
    width: 120px;
    margin-right: 30px;
}
.Write_contents ul > li:nth-of-type(3) {
    width: 120px;
    margin-right: 30px;
}
.Write_contents ul > li:nth-of-type(4) {
    width: 115px;
    margin-right: 30px;
}
.Write_contents ul > li:nth-of-type(5) {
    width: 140px;
    margin-right: 24px;
}
.Write_contents ul > li:nth-of-type(6) {
    width: 140px;
    margin-right: 24px;
}
.Write_contents ul li:nth-child(7) {
    margin-right: 380px;
}


/* Write_info */
.Write_info {
    width: 100%;
    padding: 30px 50px;
}
.Write_info select {
    width: 130px;
    height: 25px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 16px;
}
.Write_info select:nth-of-type(1) {
    margin-left: 60px;
}

.Write_info label > input {
    width: 130px;
}
.Write_info input {
    height: 25px;
    margin: 5px;
    border: none;
    font-size: 16px;
    color: #888888;
    border-bottom: 1px solid #aaa;
}
.Write_info > input {
    width: 150px;
    margin-right: 10px;
}
.Write_info > input:nth-of-type(3) {
    width: 200px;
    margin-right: 20px;
}

/* button */
.add_btn {
    width: 70px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid #efa0a2;
    background-color: white;
    color: #efa0a2;
    font-size: 16px;
}
.delete_btn {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    font-size: 12px;
}

/* 가계부 작성 추가 값 표출 화면 */

.Write_container .expense_list {
    width: 100%;
    height: 100%;
}
.Write_container .expense_list > ul  {
    width: 100%;
    height: 100%;
    display: block;
}
.Write_container .expense_list ul > li {
    width: 100%;
    height: 50px;
}
.Write_container .expense_list ul > li > span {
    display: inline-block;
    padding: 10px;
}

.Write_container .expense_list ul > li > span:nth-child(2) {
    width: 100px; /* 지출/수입 영역 */
    text-align: center;
}

.Write_container .expense_list ul > li > span:nth-child(3) {
    width: 130px; /* 날짜 영역 */
}

.Write_container .expense_list ul > li > span:nth-child(4) {
    width: 170px; /* 카테고리 영역 */
    text-align: center;
}

.Write_container .expense_list ul > li > span:nth-child(5) {
    width: 120px; /* 결제수단 영역 */
    text-align: center;
}

.Write_container .expense_list ul > li > span:nth-child(6) {
    width: 170px; /* 거래처 영역 */
    text-align: center;
}

.Write_container .expense_list ul > li > span:nth-child(7) {
    width: 180px; /* 금액 영역 */
    text-align: center;
}
.Write_container .expense_list ul > li > span:nth-child(8) {
    width: 120px; /* 메모 영역 */
    text-align: center;
}

/* 지출, 수입 앞에 점을 스타일링 */
.Write_container .expense_list .expense-type {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle; /* 수평 정렬 */
}
/* 점과 텍스트를 같은 선상에 배치 */
.Write_container .expense-details {
    display: inline-flex;
    align-items: center; /* 텍스트와 점이 수평으로 정렬되도록 */
}
.Write_container .expense_list .expense-expense {
    background-color: #388BCF; /* 지출은 #388BCF 블루계열 */
}

.Write_container .expense_list .expense-income {
    background-color: #E87D7D; /* 수입은 #BF2A2A 주제색 */
}
.Write_container .expense-category {
    margin-left: 8px;
}
